Flask==0.12.2
Flask-Login==0.4.1
Flask-SocketIO==2.9.3
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
psycopg2==2.7.3.2
SQLAlchemy==1.2.0
psycopg2==2.6.1 
flake8==3.5.0
isort==4.2.15
Flask-Testing==0.4
